/**************************
        MOBILE FIRST 
**************************/

/*******************************/
/***** LAYOUT: ONLY MOBILE *****/
@media screen and (max-width: 768px) {

    /* HEADER STYLE */
    header i {
        font-size: 2rem;
    }
}

/*******************************/
/***** LAYOUT: ONLY TABLET *****/
@media screen and (min-width: 768px) and (max-width: 992px) {

    /* HEADER STYLE */
    header > section {
        padding: 1rem 2rem;
    }

    #logoimg {
        width: 80%;
    }

    header i {
        font-size: 2rem;
    }

    /* MAIN STYLE */
    main {
        margin-top: 4.5rem;
    }

    /* Hero Section Style */
    #demoBox img {
        height: 100%;
        object-fit: cover;
    }

    /* Testimonials Section Style */
    #testimonialsSec img {
        width: 11.8rem;
        height: 11.8rem;
    }

    /* Benefits Section Style */    
    #benefitsSec section.flex.flexColumn > div {
        width: calc(100% / 2 - 1em);
    }

    /* About Section Style */
    #aboutSec p:not(.txtLilac) {
        line-height: 1.8em;
    }
} 

/************************************/
/***** LAYOUT: TABLET & DESKTOP *****/
@media screen and (min-width: 768px) {
    /* MAIN STYLE */

    /* Hero Section Style */
    #heroSec > div {
        flex-direction: row;
    }

    /* Benefits Section Style */
    #benefitsSec section.flex.flexColumn {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    /* About Section Style */
    #aboutSec {
        flex-direction: row;
        align-items: flex-start;
    }

    /* Testimonials Section Style */
    .testimonialBox {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        text-align: left;
    }

    /* Benefits Section Style */
    #benefitsBoxContainer h2:first-child {
        font-size: 3.1rem;
        margin: 0;
    }

    #benefitsBoxContainer h2:nth-child(2) {
        margin: 0.4rem 0;
    }

    /* About Us Section Style */
    #aboutSec i {
        top: 3%;
        left: 50%;
        font-size: 3.5rem;
    }

    #aboutSec > div:first-child {
        width: 55%;
    }

    #aboutSec > div:last-child {
        width: 45%;
    }
}

/********************************/
/***** LAYOUT: ONLY DESKTOP *****/
@media screen and (min-width: 992px) {

    /* HEADER STYLE */
    header > section {
        padding: 0.7rem 2rem;
    }

    #logoimg {
        width: 80%;
    }

    nav:nth-of-type(1) {
        display: none;
    }

    nav:last-child {
        display: flex;
        font-size: clamp(.77rem, 0.5vw, 0.9rem);
        width: 50%;
    }

    /* MAIN STYLE */
    main {
        margin-top: 3.7rem;
    }

    /* Hero Section Style */
    #demoBox {
        flex-direction: row;
    }

    #demoBox > div:first-child {
        width: 60%;
    }

    #demoBox > div:last-child {
        width: 40%;
    }

    #heroSec i:not(.fa-brands.fa-apple) {
        font-size: clamp(4rem, 2vw, 6rem);
        margin: 0;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: clamp(.85rem, 1vw, 1rem);
        line-height: 1.8em;
    }

    #heroSec img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }

    /* Strategic Plan Section Style */
    #strategicSec > div {
        flex-direction: row;
        align-items: flex-end;
    }

    #strategicSec > div > div:last-child img {
        width: 60%;
    }

    /* Testimonials Section Style */
    #testimonialsSec img {
        width: 10rem;
        height: 10rem;
    }

    #testimonialsSec img {
        margin-top: 0;
    }

    #testimonialsSec strong {
        font-size: 1rem;
    }

    /* Benefits Section Style */
    #benefitsSec section.flex.flexColumn > div {
        width: calc(100% / 3 - 1em);
    }

    /* About Section Style */
    #aboutSec p:not(.txtLilac) {
        font-size: clamp(0.9rem, 2vw, 1rem);
        line-height: 1.8em;
    }

    #aboutSec > div > p:last-of-type:not(:last-child) {
        font-size: 1.5rem;
    }
}

/********************************************/
/***** LAYOUT: ONLY EXTRA LARGE DESKTOP *****/
/* @media screen and (min-width: 1200px) {
} */