/**************************
        MOBILE FIRST 
**************************/

/***** LAYOUT: ONLY MOBILE *****/
@media screen and (max-width: 480px) {

    /* All Section Style - Debug */
    body {background-color: antiquewhite;}
    
    /* MAIN STYLE */

    /* Hero Section Style */
    #heroSec > div:first-child {
        min-height: 79.5rem;
    }

    /* Strategic Plan Section Style */
    #strategicSec > div > div {
        min-height: 50rem;
    }

    /* Testimonials Section Style */
    #testimonialsSec > div {
        min-height: 40rem;
    }

    /* Benefits Section Style */
    #benefitsSec section.flex.flexColumn > div {
        min-height: 32rem;
    }

    /* About Section Style */
    #aboutSec > div:first-child {
        min-height: 76.5rem;
    }

    #aboutSec > div:last-child {
        min-height: 34.5rem;
    }
}

/***** LAYOUT: ONLY TABLET *****/
@media screen and (min-width: 480px) and (max-width: 768px) {
    
    /* All Section Style - Debug */
    body {background-color: orange;}

    /* Main Style */
    #heroSec > div > div {
        min-height: 26rem;
    }

    /* Strategic Plan Section Style */
    #strategicSec > div > div:first-child {
        min-height: 59rem;
    }

    #strategicSec > div > div:last-child {
        min-height: 52rem;
    }

    /* Testimonials Section Style */
    #testimonialsSec > div {
        min-height: 16.5rem;
    }

    /* Benefits Section Style */    
    #benefitsSec section.flex.flexColumn > div {
        min-height: 25rem;
        width: calc(100% / 2 - 1em);
    }

    /* About Section Style */
    #aboutSec > div:first-child {
        min-height: 49.3rem;
    }

    #aboutSec > div:last-child {
        min-height: 30.5rem;
    }
} 

/***** LAYOUT: TABLET & DESKTOP *****/
@media screen and (min-width: 480px) {
    /* Main Style */
    #heroSec > div {
        flex-direction: row;
    }

    /* Benefits Section Style */
    #benefitsSec section.flex.flexColumn {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    /* About Section Style */
    #aboutSec {
        flex-direction: row;
        align-items: flex-start;
    }
}

/***** LAYOUT: ONLY DESKTOP *****/
@media screen and (min-width: 768px) {

    /* All Section Style - Debug */
    body {background-color: brown;}

    /* Header Style */
    nav:nth-of-type(1) {
        display: none;
    }
    nav:last-child {
        display: block;
    }

    /* Main Style */
    #heroSec > div > div {
        min-height: 17.2rem;
    }

    /* Strategic Plan Section Style */
    #strategicSec > div {
        flex-direction: row;
        align-items: flex-end;
    }

    #strategicSec > div > div:first-child {
        min-height: 36.5rem;
    }

    #strategicSec > div > div:last-child {
        min-height: 28rem;
    }

    /* Testimonials Section Style */
    #testimonialsSec > div {
        min-height: 14rem;
    }

    /* Benefits Section Style */
    #benefitsSec section.flex.flexColumn>div {
        min-height: 21rem;
        width: calc(100% / 3 - 1em);
    }

    /* About Section Style */
    #aboutSec > div:first-child {
        min-height: 31.5rem;
    }

    #aboutSec > div:last-child {
        min-height: 26.5rem;
    }
}
