/******** GENERAL STYLE ********/
:root {
    --blue: #0184FD;
    --lilac: #9792E5;
    --lightblue: #B5DDFF;
    --orange: #FDC15E;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/******** HEADER STYLE ********/
header {
    z-index: 1;
    top: 0;
    left: 0;
}

header > section {
    min-height: 6rem;
}

nav:last-child {
    display: none;
}
/******** MAIN STYLE ********/
main {
    margin-top: 6rem;
}

#heroSec > div > div {
    border-radius: 1.5rem;
    min-height: 28.5rem;
}

#demoBox {
    /* height: 48.5rem; */
    flex-grow: 1;
}

#cleanCodeBox {
    flex-shrink: 2;
}

/******** FOOTER STYLE ********/