/******** GENERAL STYLE ********/
:root {
    --blue: #0184FD;
    --lilac: #9792E5;
    --lightblue: #B5DDFF;
    --orange: #FDC15E;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/******** HEADER STYLE ********/
header {
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--lightblue);
}

header > section {
    padding: 1.5rem 2rem;
}

header i {
    font-size: 2.5rem;
}

nav:last-child {
    display: none;
}

header button {
    padding: 0.5em;
    border: none;
}

/******** MAIN STYLE ********/
main {
    margin-top: 6rem;
}

/* Hero Section Style */
#demoBox {
    flex-grow: 1;
    padding: 0 2rem;
}

h2 {
    font-size: 2rem;
    margin: 1em 0;
}

p {
    line-height: 2em;
    color: rgb(72, 72, 72);
    font-size: 1.4rem;
    margin: 1em 0;
}

#heroSec button {
    border: 1px solid var(--blue);
    padding: 1em 3em;
    letter-spacing: .3em;
    font-size: 0.9rem;
    margin: 1em 0;
} 

#demoBox > div:last-child {
    padding-top: 10%;
}

#demoBox img {
    height: 80%;
    width: 80%;
    object-fit: cover;
}

#cleanCodeBox {
    flex-shrink: 2;
}

#heroSec i:not(.fa-brands.fa-apple) {
    font-size: 6rem;
    margin: 2rem 0;
}

/* Strategic Plan Section Style */
/* Testimonials Section Style */

/* Benefits Section Style */
#benefitsSec h2 {
    margin-bottom: 1em;
}

/******** FOOTER STYLE ********/
footer {
    background-color: #333333;
}